@using PortfolioCoreDay.Entities
@model List<Portfolio>

<section id="portfolio" class="portfolio section light-background">
    <div class="container section-title" data-aos="fade-up">
        <h2>Çalışmalarım</h2>
        <p>Projelerimle ilgili detaylara aşağıdan ulaşabilirsiniz.</p>
    </div>

    <div class="container">
        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Tümü</li>

                @foreach (var cat in Model.Select(x => x.Category.CategoryName).Distinct())
                {
                    // .ToLower() ile her şeyi küçük harf yapıyoruz, .Replace ile boşlukları siliyoruz
                    var filterClass = cat.ToLower().Replace(" ", "");
                    <li data-filter=".@filterClass">@cat</li>
                }
            </ul>

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                @foreach (var item in Model)
                {
                    // Kutunun class ismini de butonla birebir aynı (küçük harf ve boşluksuz) yapıyoruz
                    var itemClass = item.Category.CategoryName.ToLower().Replace(" ", "");

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item @itemClass">
                        <img src="@item.ImageUrl" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@item.Title</h4>
                            <p>@item.Category.CategoryName</p>
                            <a href="@item.GithubUrl" title="Detay" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>